<!DOCTYPE html>
{% load static %}

<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Prazos</title>
  <script src="{% static 'app_lista_prazos/form.js' %}"></script>
  <link rel="stylesheet" href="{% static 'app_lista_prazos/style.css' %}">
</head>

<body onload="changeDateInput()">
  <form action="" method="post">
    {% csrf_token %}
    <section>
      {% for field in form %}
      {{ field.as_field_group }}
      {% endfor %}
    </section>

    <input type="checkbox" name="agora">
    <label for="agora">Prazo começa agora</label><br>

    <button type="submit">Adicionar</button>
  </form>

  <a href="/">Voltar</a>

</body>


</html>
