<!DOCTYPE html>
{% load static %}

<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Prazos</title>
  <link rel="stylesheet" href="{% static 'app_lista_prazos/style.css' %}">
</head>

<body>
  <div class="tab">
    <a href="/adicionar">+ CADASTRAR NOVO PRAZO</a>
  </div>
  <main>
    <section>
      <table>
        <thead>
          <tr>
            <th>Identificador</th>
            <th>Prazo (dias)</th>
            <th>Data de vencimento</th>
            <th>Dias para vencer</th>
          </tr>
        </thead>
        <tbody>
          {% for prazo_obj in page_obj %}
          <tr>
            <td>
              {{ prazo_obj.identificador }}
            </td>
            <td>
              {{ prazo_obj.prazo_em_dias }}
            </td>
            <td>
              {{ prazo_obj.data_de_vencimento | date:"d/m/Y" }}
            </td>
            <td>
              <b>{{ prazo_obj.dias_para_vencer }} dias</b>
            </td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">
              {% if page_obj.has_previous %}
              <a href="?page=1">&laquo;</a>
              <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
              {% endif %}
              <span class="current">PÁGINA <b>{{ page_obj.number }}</b> DE
                <b>{{ page_obj.paginator.num_pages }}</b></span>
              {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
              <a href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
              {% endif %}
            </td>
          </tr>
        </tfoot>
      </table>
    </section>
  </main>

</body>

</html>
