{% extends "app_lista_prazos/base.html" %}
{% load static %}

{% block content %}
<div class="small-tab">
  <a href="javascript:history.go(-1)">&lt; VOLTAR</a>
</div>
<hr>
<main class="delete">
  <section>
    <form action="" method="post">
      {% csrf_token %}
      <p><b>Deseja excluir este prazo?</b></p>
      <p>Identificador: {{ prazo.identificador }}</p>
      <p>Prazo: {{ prazo.prazo_em_dias }} dias</p>
      <p>Data de vencimento: {{ prazo.data_de_vencimento | date:"d/m/Y" }}</p>
      <p>Vence em: {{ prazo.dias_para_vencer }} dias</p>
      <button class="button-delete" type="submit">Excluir</button>
    </form>
  </section>
</main>
{% endblock %}
