{% extends "app_lista_prazos/base.html" %}
{% load static %}
{% load abs %}

{% block content %}
{% if messages %}
<div class="toast fade-in-and-out">
  <ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %}class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}
<div class="tab">
  <button id="cadastrar" type="button">+ CADASTRAR NOVO PRAZO</button>
</div>
<main>
  <div id="semi-black-overlay" class="overlay transparent-black fade-in">
    <aside id="adicionar-tab" class="overlay">
      <div class="small-tab">
        <button id="fechar-adicionar-tab" type="button">✕ FECHAR</button>
      </div>
      <hr>
      <form action="/adicionar" method="post">
        {% csrf_token %}
        {% for field in form %}
        {{ field.as_field_group }}
        {% endfor %}

        <button type="submit">Adicionar</button>
      </form>
    </aside>
  </div>
  <section>
    <table>
      <thead>
        <tr>
          <th>Identificador</th>
          <th>Data de início</th>
          <th>Prazo 1 (dias)</th>
          <th>Vence em</th>
          <th>Prazo 2 (dias)</th>
          <th>Vence em</th>
          <th class="edit-th">Editar</th>
          <th class="delete-th">Excluir</th>
        </tr>
      </thead>
      <tbody>
        {% for prazo_obj in page_obj %}
        <tr>
          <td>
            {{ prazo_obj.identificador }}
          </td>
          <td>
            {{ prazo_obj.data_de_início | date:"d/m/Y" }}
          </td>
          <td>
            {{ prazo_obj.prazo_1_em_dias }}
          </td>
          <td {% if prazo_obj.dias_para_vencer_1 <= 0 %}class="prazo-vencido" {% endif %}>
            <div class="flex-between">
              <span>
                {{ prazo_obj.data_de_vencimento_1 | date:"d/m/Y" }}
                <b>
                  {% if prazo_obj.dias_para_vencer_1 != 0 %}
                    ({% if prazo_obj.dias_para_vencer_1 < 0 %}há {% endif %}{{ prazo_obj.dias_para_vencer_1 | abs }} 
                    dia{% if prazo_obj.dias_para_vencer_1 < -1 or prazo_obj.dias_para_vencer_1 > 1 %}s{% endif %})
                  {% else %}
                    (hoje)
                  {% endif %}
                </b>
              </span>

              {% if prazo_obj.dias_para_vencer_1 <= 0 %} 
                <img src="{% static 'app_lista_prazos/img/attention.svg' %}" alt="Ícone de exclamação vermelho">
              {% endif %}
            </div>
          </td>
          <td>
            {{ prazo_obj.prazo_2_em_dias }}
          </td>
          <td {% if prazo_obj.dias_para_vencer_2 <= 0 %}class="prazo-vencido" {% endif %}>
            <div class="flex-between">
              <span>
                {{ prazo_obj.data_de_vencimento_2 | date:"d/m/Y" }}
                <b>
                  {% if prazo_obj.dias_para_vencer_2 != 0 %}
                    ({% if prazo_obj.dias_para_vencer_2 < 0 %}há {% endif %}{{ prazo_obj.dias_para_vencer_2 | abs }} 
                    dia{% if prazo_obj.dias_para_vencer_2 < -1 or prazo_obj.dias_para_vencer_2 > 1 %}s{% endif %})
                  {% else %}
                    (hoje)
                  {% endif %}
                </b>
              </span>

              {% if prazo_obj.dias_para_vencer_2 <= 0 %} 
                <img src="{% static 'app_lista_prazos/img/attention.svg' %}" alt="Ícone de exclamação vermelho">
              {% endif %}
            </div>
          </td>
          <td class="action-td">
            <div class="flex-center">
              <a href="/editar/{{ prazo_obj.identificador | urlencode }}">
                <img class="flex-center" src="{% static 'app_lista_prazos/img/edit.svg' %}" alt="Ícone de lápis">
              </a>
            </div>
          </td>
          <td class="action-td">
            <div class="flex-center">
              <a href="/excluir/{{ prazo_obj.identificador | urlencode }}">
                <img class="flex-center" src="{% static 'app_lista_prazos/img/trash.svg' %}" alt="Ícone de lata de lixo">
              </a>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
  <div class="navigation">
    {% if page_obj.has_previous %}
    <a href="?page=1">&laquo;</a>
    <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
    {% endif %}
    <span class="current">PÁGINA <b>{{ page_obj.number }}</b> DE
      <b>{{ page_obj.paginator.num_pages }}</b></span>
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
    <a href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
    {% endif %}
  </div>
</main>
<script src="{% static 'app_lista_prazos/js/index.js' %}"></script>
{% endblock %}
